pl_load_data.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Lookup Control Table').status, 'Succeeded')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "LastProcessedFile",
                "value": {
                  "value": "@activity('Lookup Control Table').output.firstRow.LastProcessedFile",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SetLastProcessedFromFile",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "LastProcessedFile",
                "value": "\"JC-202501-citibike-tripdata.csv.zip\""
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SetDefaultLastProcessed",
              "dependsOn": []
            }
          ]
        },
        "name": "CheckLookupResult",
        "dependsOn": [
          {
            "activity": "Lookup Control Table",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "96dabbb6-4ad6-bd95-4718-c391f3e3e395",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "s3_base_url": {
              "value": "https://s3.amazonaws.com/tripdata",
              "type": "string"
            },
            "start_from": {
              "value": "@variables('LastProcessedFile')",
              "type": "string"
            },
            "control_file_path": {
              "value": "\"/lakehouse/default/Files/control/last_processed.json\"",
              "type": "string"
            },
            "target_folder": {
              "value": "\"/lakehouse/default/Files/citibike_raw/\"",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get data",
        "dependsOn": [
          {
            "activity": "CheckLookupResult",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": {
                "value": "SELECT TOP 1 LastProcessedFile \nFROM download_control \nORDER BY ProcessingTimestamp DESC",
                "type": "Expression"
              }
            },
            "schema": [],
            "connectionSettings": {
              "name": "LH",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "e4017931-fb32-bd96-4023-9d33c84f89ea",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "2a925156-4521-4014-bae3-3bf462355446"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Control Table",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "db559fe6-6359-bcd9-4615-c671518baa16",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "source_folder": {
              "value": "\"/lakehouse/default/Files/\"",
              "type": "string"
            },
            "target_table": {
              "value": "\"citibike_trips\"",
              "type": "string"
            },
            "file_pattern": {
              "value": "\"JC-2025*citibike-tripdata*.zip\"",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Extract and Load",
        "dependsOn": [
          {
            "activity": "Get data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "LastProcessedFile": {
        "type": "String"
      }
    }
  }
}