pl_load_data.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Lookup Control Table').status, 'Succeeded')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "LastProcessedFile",
                "value": {
                  "value": "@activity('Lookup Control Table').output.firstRow.LastProcessedFile",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SetLastProcessedFromFile",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "LastProcessedFile",
                "value": "\"JC-202501-citibike-tripdata.csv.zip\""
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SetDefaultLastProcessed",
              "dependsOn": []
            }
          ]
        },
        "name": "CheckLookupResult",
        "dependsOn": [
          {
            "activity": "Lookup Control Table",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "96dabbb6-4ad6-bd95-4718-c391f3e3e395",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "s3_base_url": {
              "value": "https://s3.amazonaws.com/tripdata",
              "type": "string"
            },
            "start_from": {
              "value": {
                "value": "@variables('LastProcessedFile')",
                "type": "Expression"
              },
              "type": "string"
            },
            "control_file_path": {
              "value": "\"/lakehouse/default/Files/control/last_processed.json\"",
              "type": "string"
            },
            "target_folder": {
              "value": "\"/lakehouse/default/Files/citibike_raw/\"",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get data",
        "dependsOn": [
          {
            "activity": "CheckLookupResult",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "download_control"
            },
            "schema": [],
            "connectionSettings": {
              "name": "LH",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "e4017931-fb32-bd96-4023-9d33c84f89ea",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "2a925156-4521-4014-bae3-3bf462355446"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Control Table",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "db559fe6-6359-bcd9-4615-c671518baa16",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "source_folder": {
              "value": "/lakehouse/default/Files/",
              "type": "string"
            },
            "target_table": {
              "value": "citibike_trips",
              "type": "string"
            },
            "file_pattern": {
              "value": "JC-*-citibike-tripdata*.zip",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Extract and Load",
        "dependsOn": [
          {
            "activity": "Get data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "weather_control"
            },
            "schema": [],
            "connectionSettings": {
              "name": "LH",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "e4017931-fb32-bd96-4023-9d33c84f89ea",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "2a925156-4521-4014-bae3-3bf462355446"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Last Weather date",
        "dependsOn": [
          {
            "activity": "Extract and Load",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "citibike_metadata"
            },
            "schema": [],
            "connectionSettings": {
              "name": "LH",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "e4017931-fb32-bd96-4023-9d33c84f89ea",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "2a925156-4521-4014-bae3-3bf462355446"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Max Trip Date",
        "dependsOn": [
          {
            "activity": "Get Last Weather date",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Get Last Weather date').status, 'Succeeded')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "d0b9e696-60c5-8bcb-44a7-4acc20eddab7",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "start_date": {
                    "value": {
                      "value": "@activity('Get Last Weather date').output.firstRow.last_weather_date",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "end_date": {
                    "value": {
                      "value": "@formatDateTime(activity('Get Max Trip Date').output.firstRow.max_started_at, 'yyyy-MM-dd')\n\n",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "latitude": {
                    "value": {
                      "value": "@activity('Get Last Weather date').output.firstRow.latitude",
                      "type": "Expression"
                    },
                    "type": "float"
                  },
                  "longitude": {
                    "value": {
                      "value": "@activity('Get Last Weather date').output.firstRow.longitude",
                      "type": "Expression"
                    },
                    "type": "float"
                  },
                  "max_trip_date": {
                    "value": {
                      "value": "@formatDateTime(activity('Get Max Trip Date').output.firstRow.max_started_at, 'yyyy-MM-dd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Fetch Weather Data",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "d0b9e696-60c5-8bcb-44a7-4acc20eddab7",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "start_date": {
                    "value": "2025-01-01",
                    "type": "string"
                  },
                  "end_date": {
                    "value": {
                      "value": "@formatDateTime(activity('Get Max Trip Date').output.firstRow.max_started_at, 'yyyy-MM-dd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "latitude": {
                    "value": "40.728",
                    "type": "float"
                  },
                  "longitude": {
                    "value": "-74.077",
                    "type": "float"
                  },
                  "max_trip_date": {
                    "value": {
                      "value": "@formatDateTime(activity('Get Max Trip Date').output.firstRow.max_started_at, 'yyyy-MM-dd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Fetch Weather data first run",
              "dependsOn": []
            }
          ]
        },
        "name": "Check Weather Update Needed",
        "dependsOn": [
          {
            "activity": "Get Max Trip Date",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureParameters": {
            "LoadMonth": {
              "value": "1",
              "type": "Int32"
            },
            "LoadYear": {
              "value": "2025",
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "WH",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "8d7b7ef9-8c38-4475-a7dd-0bc5945a5b99",
              "endpoint": "5tbjm3bhtu7u3hlnjwewrw2wyq-iofyw55hgrkuxitto5r2ffotqy.datawarehouse.fabric.microsoft.com",
              "workspaceId": "778b8b43-34a7-4b55-a273-7763a295d386"
            },
            "externalReferences": {
              "connection": "1ea2f73d-9f3a-40b9-ab9b-92b320804f76"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Execute LoadTripData",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Check Weather Update Needed",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "LastProcessedFile": {
        "type": "String"
      },
      "weather_data": {
        "type": "String",
        "defaultValue": "{\"last_weather_date\":\"2024-12-31\",\"latitude\":\"40.728\",\"longitude\":\"-74.077\"}"
      },
      "trip_data": {
        "type": "String",
        "defaultValue": "{\"max_trip_date\":\"2025-01-01\"}"
      }
    }
  }
}